.appDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -400px; 
  width: 800px;
  height: 800px;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  padding: 12px;
  z-index: 99;
}

.closeBtn {
  float: right;
  font-size: 10px;
}