.searchContainer {
  position: absolute;
  top: 20vh;

  width: 100%;
}

.searchInput {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 230px;
  padding: 12px 14px;
  border-radius: 30px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #fff;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  opacity: 1;
  transition: all 0.25s;
}

.searchInput::-webkit-input-placeholder{
  color: #fff;
}

.searchInput:hover {
  width: 530px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.searchInput.onFocus {
  width: 530px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}

.searchOptBox {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  color: #fff;
  opacity: 0;
  transition: opacity 0.25s, top 0.35s;
}
.searchOptBox.hide {
  top: 0;
  opacity: 0;
}
.searchOptBox.show {
  top: 60px;
  opacity: 1;
}

.searchOptBox .searchOpt {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 30px;
  margin: 0 5px;
  border-radius: 20px;
  transition: 0.25s ease;
  font-size: 9px;
}
.searchOptBox .searchOpt.active,
.searchOptBox .searchOpt.active:hover {
  background-color: rgba(112, 192, 0, 0.77);
}
.searchOptBox .searchOpt:hover {
  background-color: rgba(112, 192, 0, 0.44);
}

.clock {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.25s;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  margin: 0.8em 0;
}
.clock::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  background-color: #70c000;
  transform: scale3d(0, 1, 1);
  transition: all 0.25s;
}
.clock:hover::after {
  transform: scale3d(1, 1, 1);
}