@cubeSize: 100px;
@spaceing: 20px;
@transitionTime: 450ms;

.common-rectangle(@left, @top) {
  position: absolute;
  left: @left;
  top: @top;
  width: 150px;
  height: 60px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.6rem;
  transform-style: preserve-3d;
  transform: rotateX(-8deg) rotateY(8deg) translateZ(0px);
  transition: all @transitionTime ease;

  // &:hover {
  //   top: -10px;
  //   left: @left - 5;
  //   transform: rotateX(0deg) rotateY(0deg) translateX(-20px);
  // }

  .side {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid #fff;
    border-radius: 10px;
    transform-origin: 50% 50% -50px;
    
    // 正面
    &:nth-child(1) {
      transform: rotateX(0deg);
    }

    // 上面
    &:nth-child(2) {
      width: 150px;
      height: 100px;
      transform-origin: 50% 50% -50px;
      transform: rotateX(90deg);
    }

    // 背面
    &:nth-child(3) {
      transform: translateZ(-100px);
    }

    // 下面
    &:nth-child(4) {
      top: -40px;
      width: 150px;
      height: 100px;
      transform-origin: 50% 50% -50px;
      transform: rotateX(-90deg);
    }

    // 左面
    &:nth-child(5) {
      left: 0;
      width: 100px;
      height: 60px;
      transform: rotateY(-90deg);
      transform-origin: 50% 50% -50px;
    }

    // 右面
    &:nth-child(6) {
      width: 100px;
      height: 60px;
      transform: rotateY(90deg);
      transform-origin: 50% 50% -50px;
    }
  }
}
.common-cube(@left, @top, @size, @bgColor) {
  position: absolute;
  top: @top;
  left: @left;
  width: @size;
  height: @size;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  transform-style: preserve-3d;
  transition-duration: @transitionTime;
  transition-timing-function: ease;
  transform: rotateX(-8deg) rotateY(8deg) translateZ(0px);

  &:active {
    transform: rotateX(0deg) rotateY(0deg) translateZ(-200px);
  }

  .side {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: @size;
    height: @size;
    background: @bgColor;
    border: 4px solid #fff;
    border-radius: 10px;
    transform-origin: 50% 50% -@size / 2;
    
    // 正面
    &:nth-child(1) {
      transform: rotateX(0deg);
    }

    // 上面
    &:nth-child(2) {
      transform: rotateX(90deg);
    }

    // 背面
    &:nth-child(3) {
      transform: translateZ(-@size);
    }

    // 下面
    &:nth-child(4) {
      transform: rotateX(-90deg);
    }

    // 左面
    &:nth-child(5) {
      transform: rotateY(-90deg);
    }

    // 右面
    &:nth-child(6) {
      transform: rotateY(90deg);
    }
  }
}

.game2048-container {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: #f5deb3;
  // perspective: 800;
  // -webkit-perspective: 800;

  .header {
    @headerWidth: @cubeSize * 4 + @spaceing * 4;
    position: absolute;
    top: 15vh;
    left: 49%;
    width: @headerWidth;
    margin-left: -@headerWidth / 2;
    height: 60px;
    z-index: 99;

    .score-label {
      position: relative;
      user-select: none;
      .common-rectangle(0px, 0px);
    }
    .score {
      position: relative;
      user-select: none;
      .common-rectangle(160px, -3px);
    }
    .reset {
      position: relative;
      user-select: none;
      .common-rectangle(320px, -6px);
    }
  }

  .stage {
    @stageSize: @cubeSize * 4 + @spaceing * 4;
    position: absolute;
    width: @stageSize;
    height: @stageSize;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    margin-left: -@stageSize / 2;
    margin-top: -@stageSize / 2;
    padding: 5px;
  }

  .cube {
    position: absolute;
    width: @cubeSize;
    height: @cubeSize;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    transform-style: preserve-3d;
    transition-duration: @transitionTime;
    transition-timing-function: ease;
    transform: scale(0) rotateX(-8deg) rotateY(8deg);
    background: rgb(239, 226, 217);
    user-select: none;

    .side {
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: @cubeSize;
      height: @cubeSize;
      background: inherit;
      border: 4px solid #fff;
      border-radius: 10px;
      transform-origin: 50% 50% -@cubeSize / 2;
      
      // 正面
      &:nth-child(1) {
        transform: rotateX(0deg);
      }

      // 上面
      &:nth-child(2) {
        transform: rotateX(90deg);
      }

      // 背面
      &:nth-child(3) {
        transform: translateZ(-@cubeSize);
      }

      // 下面
      &:nth-child(4) {
        transform: rotateX(-90deg);
      }

      // 左面
      &:nth-child(5) {
        transform: rotateY(-90deg);
      }

      // 右面
      &:nth-child(6) {
        transform: rotateY(90deg);
      }
    }
  }

  .board-panel {
    position: absolute;
    top: 85vh;
    left: 50%;
    box-sizing: border-box;
    width: 190px;
    height: 120px;
    margin-left: -105px;

    .keyboard {
      position: relative;
      user-select: none;
      &.up {
        z-index: 1;
        .common-cube(63px, -63px, 60px, rgba(0, 0, 0, 0.8));
      }
      &.right {
        .common-cube(126px, 0, 60px, rgba(0, 0, 0, 0.8));
      }
      &.down {
        .common-cube(63px, 0, 60px, rgba(0, 0, 0, 0.8));
      }
      &.left {
        .common-cube(0, 0, 60px, rgba(0, 0, 0, 0.8));
      }
    }

  }
}
