.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  /* background-image: url("@/assets/background.jpg"); */
  background-image: url("@/assets/background.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(2px);
}