.searchBar {
  width: 60%;
  margin: 15vh auto 0;
}
.searchBar .countTime {
  font-size: 18px;
  font-weight: bold;
}

.searchBar .searchInput {
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  border-radius: 20px;
}