.msvg {
  width: 2em; 
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.msvg.stroke,
.iconfont.stroke{
  filter: drop-shadow(0px 0px 0.5px) drop-shadow(0px 0px 0px) drop-shadow(0px 0px 0px) drop-shadow(0px 0px 0px);
}
